.container {
  background-color: #fff;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  padding: 2rem 3rem;
}

.inputBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.inputField {
  width: 80%;
}

.addBtn {
  padding: 0.9rem;
}

.taskRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eccff88f;
  padding: 5px 0 5px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.taskRow:hover {
  background-color: #b091bd8f;
}

@media (min-width:350px) and (max-width:500px) {
  .inputField {
    width: 70%;
  }

  .container {
    width: 90%;
    padding: 2rem 1rem;
  }

}

@media (max-width: 350px) {
  .inputField {
    width: 70%;
  }

  .container {
    width: 90%;
    padding: 1rem;
  }
}