.container {
    background-color: #fff;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    padding: 2rem 3rem;
}

.inputBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;

}


.inputField {
    width: 85%;
}

.addBtn {
    padding: .9rem;
}

.taskRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eccff88f;
    padding: 5px 0 5px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.taskRow:hover {
    background-color: #b091bd8f;
}

